
@{
    ViewData["Title"] = "CreateHairdresser";
}

<h2>CreateHairdresser</h2>

<label for="lblCompanyName">Virksomhed</label>
<input type="text" name="inputCompanyName" />
<label for="lblCompanyAddress">Adresse</label>
<input type="text" name="inputCompanyAddress" />
<label for="lblZipCOde">Postnummer</label>
<input type="number" name="inputZipCode" />
<label for="lblCity">By</label>
<input type="text" name="inputCity" />
<input type="submit" value="Opret" />
