@using Super_Service.Models

@model Hairdresser
@{
    ViewData["Title"] = "CreateHairdresser";


}

<h2>CreateHairdresser</h2>

<form asp-controller="Home" asp-action="CreateHairdresser" method="post" class="online-form">
    <p>Virksomhed:</p>
    <input type="text" name="companyName" class="form-control" />
    <br />

    <p>Adresse:</p>
    <input type="text" name="address" class="form-control" />
    <br />

    <p>Postnummer:</p>
    <input type="text" name="zipCode" class="form-control" />
    <br />

    <p>By:</p>
    <input type="text" name="city" class="form-control" />
    <br />

    <button type="submit" class="form-control">Opret virksomhed</button>
    <br />

</form>
