@using Super_Service.Models

@model Hairdresser
@{
    ViewData["Title"] = "CreateHairdresser";
    
    
}

<h2>CreateHairdresser</h2>

<label for="lblCompanyName">Virksomhed</label>
<input type="text" name="inputVirksomhed" value="@Model.Name"/> <br />
<label for="lblCompanyAddress">Adresse</label>
<input type="text" name="inputAddress" value="@Model.Address"/> <br />
<label for="lblZipCOde">Postnummer</label>
<input type="number" name="inputZipCode" value="@Model.ZipCode"/><br />
<label for="lblCity">By</label>
<input type="text" name="inputCity" value="@Model.City" /><br />
<input type="submit" value="Opret" onclick="" />
